#user-clue-supplement-wrapper{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

#user-clue-audio-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    width: 50%;
    height: 60px;
    margin-bottom: -30%;
    background-color: rgb(23, 23, 23);
}