#app-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
}


#header-link{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20%;
}

#nav-search-profile-wrapper{
display: flex;
height: 100%;
align-items: center;
margin-right: 1%;
}

#notifications-icon{
    height: 30px;
    width: 30px;
}

#notifications-button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nav-sign-in-link{
    margin-left: 2%;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: whitesmoke;
}

#create-clue-button{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#create-clue-icon{
    height: 28px;
    width: 28px;
}